/* CSS Palette */
:root {
  --primary: #003D5B;
  --secondary: #004a6e;
  --tertiary: #30648e;
  --accent: #01353d;
  --page-text: #ebb45b;
  --button: #d1495bda;
  --delete-meme:#01353d7e; 
  /* --gap: 15px; */
  --meme-text: #ffffff;
  /* details for the meme-shadow were taken from here: https://www.fabiofranchino.com/blog/how-to-make-a-meme-like-text-style-in-html-and-css/ */
  --meme-shadow: 2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 2px 5px #000;
}

body {

  background-color: var(--primary);
  font-family: 'Impact', 'Arial';
}

.meme-generator-wrapper {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-container {
  background-color: var(--secondary);
  color: var(--page-text);
  font-weight: bold;
  box-shadow: inset 0 3px 4px var(--accent);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* h1 {
  text-align: center;
}  */

/* Meme info input section */

.meme-input-form {
  text-align: center;
  background-color: var(--tertiary); 
  box-shadow: inset 0 3px 4px var(--accent);
  color: var(--page-text);
  /* align-self: center; */
}

input {
  background-color: var(--secondary);
  color: var(--page-text);
  font-size: 16px;
  box-shadow: inset 0 3px 4px var(--accent);
  display: block;
}
/* .form-input {} */

/* label {} */

/* This makes the placeholder brighter; gives more contrast to the text*/
::placeholder {
  color: var(--page-text);
}

.button-wrapper {

align-self: center;
  /*display: flex;
  justify-content: center;*/

} 
.generate-meme {
  background-color:var(--button);
  border-radius: 40px;
  font-size: 18px;
  color: var(--page-text);
  font-weight: bold;
}

/* Output section */
/* .meme-museum {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  gap: 4rem;
} */
.meme-gallery {
  color: var(--meme-text);
  position: relative;
}

/*Result of the inputs combined*/
img {
  height: 300px;
  width: 300px;
  position: relative;
}

span {
  top: 8px;
  right: 16px;
  color: var(--page-text);
  position: absolute;
  font-family: impact;
  font-size: 2.5em;
}
.top-text {
  top: 8px;
  left: 16px;
  position: absolute;  
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: var(--meme-shadow);
}

.bottom-text {
  bottom: 8px;
  left: 16px;
  position: absolute;
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: var(--meme-shadow);
} 
